## Loading all the libraries needed

In [88]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series, read_csv
import matplotlib.pyplot as plt
import matplotlib 

# Enable inline plotting
%matplotlib inline

## Loading File

In [89]:
location = r'high-protien-food-aggregation.csv'
df = pd.read_csv(location)

### Cleaning out empty rows and colums
manually updated the spreadsheet from my previous project adding categories, this helps with the grouping and aggregation. Makes informations more clear

In [90]:
df = df.dropna()
df = df.dropna(axis=1)
df

,Category,Food (Per 100g),Protein,Carbs g,Fat g,Calories (kcal)
0,Fruits,Almond Nuts,21.10,6.9,55.800,614
1,Vegetable,Anchovies,14.50,0.1,2.800,85
2,Vegetable,Asparagus,2.90,2,0.600,25
3,Fruits,Avocado,1.90,1.9,19.500,195
5,Vegetable,Baked Beans,9.50,22.1,0.400,130
6,Fruits,Bananas,1.20,23.2,0.300,100
7,Meat,Beef Fillet Steak,20.90,0,7.900,155
8,Grains,Bread (wholemeal),11.00,39.1,2.200,220
9,Vegetable,Broccoli,4.20,3.2,0.200,31
10,Vegetable,Carrots,0.60,7.9,0.300,37
11,Dairy,Cheese,30.90,0.1,15.000,260
12,Meat,Chicken Breast (Skinless),23.50,0,1.700,109
13,Fruits,Coconut,3.33,15.23,33.490,354
14,Meat,Cod fish,17.90,0,0.900,80
15,Dairy,Cottage Cheese,12.20,4.5,1.500,80
16,Grains,Couscous,15.10,73.1,1.100,365
17,Meat,Crab meat,18.10,trace,0.500,80
18,Meat,eggs,12.50,Trace,3.200,151
19,Fruits,Goji Berries,12.30,57.7,0.300,285
20,Meat,Haddock Fish,16.40,0,1.200,80
21,Other,Hummus,7.40,9.8,26.800,310
22,Meat,Lamb (Steak),19.90,0.8,3.200,115
23,Meat,Lobster,26.41,3.12,1.940,143
24,Dairy,Milk (Semi Skimmed),3.60,4.8,1.800,50
25,Dairy,Milk (Whole),3.30,4.7,3.600,64
27,Fruits,Orange,1.10,8.5,0.100,39
28,Meat,Orange Roughy Fish,22.64,0,0.034,105
29,Grains,Pasta,12.50,73,1.400,355
30,Other,Peanut Butter (Crunchy),24.90,10.1,50.200,586
31,Vegetable,Peas,5.90,9,0.900,70
32,Other,Pizza (Pepperoni),11.40,28,11.100,260
34,Grains,Porridge oats,11.00,60,8.000,356
35,Vegetable,Potatoes,2.10,17.2,0.200,80
36,Meat,Prawns,17.00,0.3,0.900,80
37,Vegetable,Pumpkin Seeds,28.80,15.2,45.600,586
38,Grains,Rice (brown),6.90,74,2.800,350
39,Meat,Salmon Fish Fillets (Boneless),21.60,0,14.000,215
40,Meat,Sardines (Fish),21.50,trace,9.600,172
41,Meat,Sausages (pork),13.90,11.9,17.000,255
42,Vegetable,soya beans,35.90,14.8,18.600,375
43,Grains,Spaghetti,5.10,33,1.300,165
44,Vegetable,Spinach,2.80,1.5,0.800,24
45,Fruits,Sunflower Seeds,23.40,18.6,47.500,600
47,Meat,Tilapia Fish,24.00,0,4.000,105
48,Other,Tofu,12.10,0.6,6.000,105
49,Meat,Tuna Fish (Steak),25.60,0,0.500,110
50,Meat,Tuna Fish (Tinned),26.30,0,10.700,202
51,Meat,Turkey Breast (Skinless),22.30,0,1.200,100
53,Other,Yogurt,4.50,6.6,11.000,145

In [91]:
df.dtypes

Category            object
Food (Per 100g)     object
Protein            float64
Carbs g             object
Fat g              float64
Calories (kcal)    float64
dtype: object

In [92]:
#df[['Category', 'Food (Per 100g)']] = df[['Category', 'Food (Per 100g)']].astype(float)
#df[['Protein', 'Carbs g', 'Fat g', 'Calories (kcal)']] = df[['Protein', 'Carbs g', 'Fat g', 'Calories (kcal)']].astype(int)

## # Grouping Data
First finding means of data by category then breaking down data into groups using two axes

In [100]:
grouped =df[['Protein', 'Carbs g', 'Fat g', 'Calories (kcal)']].groupby(df['Category'])
grouped

In [101]:
grouped.mean()

             Protein      Fat g  Calories (kcal)
Category
Dairy      12.500000   5.475000       113.500000
Fruits      9.190000  22.427143       312.428571
Grains     10.266667   2.800000       301.833333
Meat       20.614706   4.616118       132.764706
Other      12.060000  21.020000       281.200000
Vegetable  10.720000   7.040000       144.300000

In [95]:
means =df['Protein'].groupby([df['Category'], df['Food (Per 100g)']]).mean()
means

Category   Food (Per 100g)
Dairy      Cheese                            30.90
           Cottage Cheese                    12.20
           Milk (Semi Skimmed)                3.60
           Milk (Whole)                       3.30
Fruits     Almond Nuts                       21.10
           Avocado                            1.90
           Bananas                            1.20
           Coconut                            3.33
           Goji Berries                      12.30
           Orange                             1.10
           Sunflower Seeds                   23.40
Grains     Bread (wholemeal)                 11.00
           Couscous                          15.10
           Pasta                             12.50
           Porridge oats                     11.00
           Rice (brown)                       6.90
           Spaghetti                          5.10
Meat       Beef Fillet Steak                 20.90
           Chicken Breast (Skinless)         23.50
           Cod fish                          17.90
           Crab meat                         18.10
           Haddock Fish                      16.40
           Lamb (Steak)                      19.90
           Lobster                           26.41
           Orange Roughy Fish                22.64
           Prawns                            17.00
           Salmon Fish Fillets (Boneless)    21.60
           Sardines (Fish)                   21.50
           Sausages (pork)                   13.90
           Tilapia Fish                      24.00
           Tuna Fish (Steak)                 25.60
           Tuna Fish (Tinned)                26.30
           Turkey Breast (Skinless)          22.30
           eggs                              12.50
Other      Hummus                             7.40
           Peanut Butter (Crunchy)           24.90
           Pizza (Pepperoni)                 11.40
           Tofu                              12.10
           Yogurt                             4.50
Vegetable  Anchovies                         14.50
           Asparagus                          2.90
           Baked Beans                        9.50
           Broccoli                           4.20
           Carrots                            0.60
           Peas                               5.90
           Potatoes                           2.10
           Pumpkin Seeds                     28.80
           Spinach                            2.80
           soya beans                        35.90
Name: Protein, dtype: float64

In [96]:
means.unstack()

Food (Per 100g),Almond Nuts,Anchovies,Asparagus,Avocado,Baked Beans,Bananas,Beef Fillet Steak,Bread (wholemeal),Broccoli,Carrots,...,Spinach,Sunflower Seeds,Tilapia Fish,Tofu,Tuna Fish (Steak),Tuna Fish (Tinned),Turkey Breast (Skinless),Yogurt,eggs,soya beans
Category,,,,,,,,,,,,,,,,,,,,,
Dairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fruits,21.1,NaN,NaN,1.9,NaN,1.2,NaN,NaN,NaN,NaN,...,NaN,23.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Meat,NaN,NaN,NaN,NaN,NaN,NaN,20.9,NaN,NaN,NaN,...,NaN,NaN,24,NaN,25.6,26.3,22.3,NaN,12.5,NaN
Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.1,NaN,NaN,NaN,4.5,NaN,NaN
Vegetable,NaN,14.5,2.9,NaN,9.5,NaN,NaN,NaN,4.2,0.6,...,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.9

In [97]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

Category
Dairy        27.60
Fruits       22.30
Grains       10.00
Meat         13.91
Other        20.40
Vegetable    35.30
Name: Protein, dtype: float64

In [98]:
grouped.describe()

Category
Dairy      count     4.000000
           mean     12.500000
           std      12.942179
           min       3.300000
           25%       3.525000
           50%       7.900000
           75%      16.875000
           max      30.900000
Fruits     count     7.000000
           mean      9.190000
           std       9.748643
           min       1.100000
           25%       1.550000
           50%       3.330000
           75%      16.700000
           max      23.400000
Grains     count     6.000000
           mean     10.266667
           std       3.672964
           min       5.100000
           25%       7.925000
           50%      11.000000
           75%      12.125000
           max      15.100000
Meat       count    17.000000
           mean     20.614706
           std       4.147997
           min      12.500000
           25%      17.900000
           50%      21.500000
           75%      23.500000
           max      26.410000
Other      count     5.000000
           mean     12.060000
           std       7.813002
           min       4.500000
           25%       7.400000
           50%      11.400000
           75%      12.100000
           max      24.900000
Vegetable  count    10.000000
           mean     10.720000
           std      12.215819
           min       0.600000
           25%       2.825000
           50%       5.050000
           75%      13.250000
           max      35.900000
dtype: float64